*{
    box-sizing: border-box;
    color: white;
   
}

body{
    background-image:url(https://media.istockphoto.com/photos/dark-blue-de-focused-blurred-motion-abstract-background-picture-id1216628493?b=1&k=6&m=1216628493&s=170667a&w=0&h=9P7C9QLC_g_OVFhWyzlnMaBC6jVIY0M41Zr72XLwCvM=);
    background-repeat: no-repeat;
    background-size: 700% 900%;   
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

nav{
    line-height: 100px;
    }

header, ul {
padding: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;

border-radius: 10px;
}

header{
background-image: url(https://www.alamy.com/stock-photo-closeup-shot-of-programming-code-on-computer-screen-175592529.html?pv=1&stamp=2&imageid=5D313CC5-F533-4449-8C1C-94F6A9558EEE&p=366408&n=0&orientation=0&pn=1&searchtype=0&IsFromSearch=1&srch=foo%3dbar%26st%3d0%26pn%3d1%26ps%3d100%26sortby%3d2%26resultview%3dsortbyPopular%26npgs%3d0%26qt%3dcomputer%2520programming%2520language%26qt_raw%3dcomputer%2520programming%2520language%26lic%3d3%26mr%3d0%26pr%3d0%26ot%3d0%26creative%3d%26ag%3d0%26hc%3d0%26pc%3d%26blackwhite%3d%26cutout%3d%26tbar%3d1%26et%3d0x000000000000000000000%26vp%3d0%26loc%3d0%26imgt%3d0%26dtfr%3d%26dtto%3d%26size%3d0xFF%26archive%3d1%26groupid%3d%26pseudoid%3d%26a%3d%26cdid%3d%26cdsrt%3d%26name%3d%26qn%3d%26apalib%3d%26apalic%3d%26lightbox%3d%26gname%3d%26gtype%3d%26xstx%3d0%26simid%3d%26saveQry%3d%26editorial%3d1%26nu%3d%26t%3d%26edoptin%3d%26customgeoip%3d%26cap%3d1%26cbstore%3d1%26vd%3d0%26lb%3d%26fi%3d2%26edrf%3d%26ispremium%3d1%26flip%3d0%26pl%3d);
background-repeat: no-repeat;
background-size: 700% 800%; 
}

li{
    padding-right: 20px;
}

h1{
    font-weight: bolder;
    font-size: 175px;
}

h2{
    font-size: 150px;
    display: inline;
}

#miniHeader{
    display: inline-flex;
    width: 100%;
    height: 100px;
    background-image: url(https://wallpapercave.com/wp/iqrBViX.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    justify-content: flex-end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
    display: inline-flex;
    float: right;
    line-height: 10;
}

#complete{
    margin: 1px solid white;
}

#about{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#myPic{
    border-radius: 10px;
    width: 20%;
    float: inline-start;
}

#description{
    display: inline-block;
    flex-wrap: wrap;
    float:right;
    line-height: 20px;
    width: 20%;
    margin-right: 200px;
}

#myWork{
    float:right;
}

.myWork2{
    width: 130px;
    height:130px;
    padding:10px;
    margin-left: 10px;
}

.linkss{
    display: inline-flex;
    padding-right: 20px;
    margin-right: 160px;
}

#Contact{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left:55%
}

#formcenter{
    display: inline;
    align-items: center;
    width: 50%;
    
    
}

#submit{
    color: black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 50%;
    
}


@media screen and (max-width: 1200px){
    header, #description, #about, #linkss {
      flex-direction: column;
      margin:auto;
    }